<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link" (click)="goToAccounts()">Accounts</button>
        </li>
       <li class="nav-item">
          <button class="nav-link" (click)="goToCards()">Cards</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="goToNotes()">Notes</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>