<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Cards</h3>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary" style="margin-bottom: 20px; margin-right: 10px;"
                        (click)="goToAdd()">Add</button>
                    <button class="btn btn-warning" style="margin-bottom: 20px;" *ngIf="!visible"
                        (click)="toggleVisibility()">Show</button>
                    <button class="btn btn-warning" style="margin-bottom: 20px;" *ngIf="visible"
                        (click)="toggleVisibility()">Hide</button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cardholder name</th>
                                <th>Number</th>
                                <th>Brand</th>
                                <th>Expiration</th>
                                <th>CVV</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let card of cards">
                                <td>{{ card.name }}</td>
                                <td>{{ card.cardholder_name }}</td>
                                <td><input [type]="visible ? 'text' : 'password'" disabled value="{{ card.number }}">
                                </td>
                                <td>{{ card.brand }}</td>
                                <td>{{ card.expiration }}</td>
                                <td><input [type]="visible ? 'text' : 'password'" disabled value="{{ card.cvv }}"></td>
                                <td>
                                    <button class="btn btn-warning" style="margin-right: 5px;"
                                        (click)="goToEdit(card.id)">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger" (click)="deleteCard(card.id)">
                                        Delete
                                    </button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>